{% extends 'layout.html' %}
{% load static %}
{% block body %}
<!-- multistep form -->
<form  id="msform" method="POST" action="{% url 'course:build' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Course Details</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Course Builder</h2>
    <h3 class="fs-subtitle">What are the course details?</h3>
    <input type="text" name="course-title" placeholder="Title" >
    <input type="text" name="course-title_ar" placeholder="Arabic Title" >
    <input type="file" name="course-cover" placeholder="Cover Image" >
    <input type="text" name="course-intro_video_iframe" placeholder="Intro Video Iframe">
    <input type="text" name="course-intro_video_iframe_ar" placeholder="Intro Video Iframe Arabic">
    <input type="number" name="course-start_age" placeholder="Start Age" >
    <input type="number" name="course-end_age" placeholder="End Age" >
    <textarea name="course-description" placeholder="Description"></textarea>
    <textarea name="course-description_ar" placeholder="Description Arabic"></textarea>
    <input type="submit" class="action-button" value="Save and Quit" />
    <input type="button" class="add-lesson action-button" value="Add Lesson" />
  </fieldset>
</form>
{% endblock %}
