{% extends 'masterstudy/courses_layout.html' %}
{% block title %}Success - ARMSTRONG{% endblock %}
{% block main_body %}
    <div class="entry-header clearfix" style="">
        <div class="container">
            <div class="entry-title-left">
                <div class="entry-title"><h1 style="">Membership Confirmation</h1></div>
            </div>
            <div class="entry-title-right"></div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="post_type_exist clearfix">
            {{ request.POST }}
            {{ json_req }}
            <div class="stm_lms_pmpro_message">
                <h3>Thank you for your membership to Armstrong. Your Pro membership is now active.</h3>
                <p>Below are details about your membership account and a receipt for your initial membership invoice. A welcome email with a copy of your initial membership invoice has been sent to {{ request.user.email }}.</p>
            </div>
            <h3>Invoice #7A87DA97FB on September 27, 2021</h3>
            <ul>
                <li><strong>Account :</strong> {{ request.user.email }}</li>
                <li><strong>Membership Level :</strong> Pro</li>
            </ul>
            <hr />
            <div class="pmpro_invoice_details">
                <div class="pmpro_invoice-billing-address">
                    <strong>Billing Address</strong>
                    <p>
                        aouoeaonetuh snthsth<br />
                        sntha<br />
                        aoeuaoue, aouaoue54353US <br />
                        aoenvutha
                    </p>
                </div>
                <div class="pmpro_invoice-payment-method">
                    <strong>Payment Method</strong>
                    <p>Mastercardending in4523</p>
                    <p>Expiration : 01 /2021</p>
                </div>
                <div class="pmpro_invoice-total">
                    <strong>Total Billed</strong>
                    <p><sup>$</sup>50.00</p>
                </div>
            </div>
            <hr />
            <br />
            <h3>Redirecting to course...</h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


{% endblock %}
