{% extends 'masterstudy/layout.html' %}
{% load static %}

{% block title %}Lesson - {{ block.super }}{% endblock %}

{% block body %}
<body class="blog logged-in stm_lms_button theme-masterstudy woocommerce-js skin_custom_color classic-lms-2 wpb-js-composer js-comp-ver-6.7.0 vc_responsive elementor-default elementor-kit-5054 sizzy-full-desktop">
                                        <div id="wrapper">
                                        <div id="header" class="transparent_header_off" data-color="">
                                        <div class="header_top_bar" style="background-color:#002e5b">
                                        <div class="container">
                                        <div class="clearfix">
                                        <!-- Header Top bar Login -->
                                        {% if not user.is_authenticated %}
                                        <div class="pull-right">
                                        <div class="header_login_url">
                                        <a href="{% url 'authorization:login' %}">
                                        <i class="fa fa-user"></i>Login</a>
                                        <span class="vertical_divider"></span>
                                        <a href="{% url 'authorization:signup' %}">Register</a>
                                        </div>
                                        </div>

{% else %}
                                        <!-- Header top bar Socials -->
                            <div class="pull-right">
                            <div class="header_login_url">
                                                    {% if user.is_member and user.has_students %}
                                                        {% for std in user.students.all %}
                                                            {% if request.COOKIES.std_id|add:"0" == std.id|add:"0" %}
                                                                <a href="{% url "authorization:change-std" std.id %}" style="pointer-events: none; color:grey;"> {{ std.name }}</a>
                                                            {% else %}
                                                                <a href="{% url "authorization:change-std" std.id %}"> {{ std.name }}</a>
                                                            {% endif %}
                                                        <span class="vertical_divider"></span>
                                                        {% endfor %}
                                                    {% endif %}
                            <a href="{% url 'authorization:logout' %}">Logout</a>
                            </div>
                            </div>
{% endif %}
                                        <div class="pull-right xs-pull-left">
                                        <ul class="top_bar_info clearfix">
                                        <li class="hidden-info">
                                        <i class="far fa-clock"></i> Mon - Sat 8.00 - 18.00				</li>
                                        <li class="hidden-info">
                                        <i class="fa fa-map-marker-alt"></i> 1010 Moon ave, New York, NY US				</li>
                                        <li class="hidden-info">
                                        <i class="fa fa-phone"></i> +1 212-226-3126                </li>
                                        </ul>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="header_default header_default">
                                        <div class="container">
                                        <div class="row">
                                        <div class="col-md-3 col-sm-12 col-xs-12">


                                        <div class="logo-unit">
                                        <a href="{% url 'main:home' %}">
                                        <img class="img-responsive logo_transparent_static visible" src="{% static 'logo.svg' %}" style="width: 300px;" alt="Dedo LMS"/>
                                        </a>
                                        </div>
                                        <!-- Navbar toggle MOBILE -->
                                        <button type="button" class="navbar-toggle collapsed hidden-lg hidden-md" data-toggle="collapse" data-target="#header_menu_toggler">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        </button>
                                        </div> <!-- md-3 -->
                                        <!-- MObile menu -->
                                        <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
                                        <div class="collapse navbar-collapse header-menu-mobile" id="header_menu_toggler">
                                        <ul class="header-menu clearfix">
                                        <li id="menu-item-1284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1284"><a href="{% url 'main:home' %}">Home</a></li>
                                        <li id="menu-item-1220" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1220"><a href="{% url 'course:courses' %}">Courses</a></li>
                                        <!-- <li id="menu-item-5028" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5028"><a href="">Plans</a></li>
                                        <li id="menu-item-1313" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1313"><a href="">Schools Programs</a></li>
                                        <li id="menu-item-5029" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5029"><a href="">About Us</a></li>
                                        <li id="menu-item-5031" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5031"><a href="">Contact Us</a></li> -->
                                        </ul>
                                        </div>
                                        </div>
                                        <!-- Desktop menu -->
                                        <div class="col-md-9 col-sm-9 col-sm-offset-0 hidden-xs hidden-sm">
                                        <div class="stm_menu_toggler" data-text="Menu"></div>
                                        <div class="header_main_menu_wrapper clearfix" style="margin-top:5px;">
                                        <div class="pull-right hidden-xs right_buttons">
                                        </div>
                                        <div class="collapse navbar-collapse pull-right">
                                        <ul class="header-menu clearfix">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1284"><a href="{% url 'main:home' %}">Home</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1220"><a href="{% url 'course:courses' %}" >Courses</a></li>
                                        <!-- <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5028"><a href="">Plans</a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1313"><a href="">Schools Programs</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5029"><a href="">About Us</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5031"><a href="">Contact Us</a></li> -->
                                        </ul>
                                        </div>
                                        </div>	    </div><!-- md-8 desk menu -->
                                        </div> <!-- row -->
                                        </div> <!-- container -->    </div>
                                        </div> <!-- id header -->
				</div>
			</div>
		</div>
		<div class="stm-lms-wrapper stm-lessons lesson_style_default" style="padding-bottom:0px !important;">

                        <div class="stm-lms-curriculum-trigger" style="position: static; margin-left: 50px;display: inline-block; vertical-align: top; width: 50px; height: 50px; text-align: center; line-height: 46px; color: #f0f4fa; border-radius: 50%; font-size: 16px; background-color: #385bce; border: 2px solid #385bce; cursor: pointer; transition: .3s ease;">
                                <i class="fa fa-list-ul"></i>
                        </div>
			<div class="stm-lms-course__curriculum">
				<div class="stm-curriculum__close" style="background: rgb(240, 244, 250);color: black;border: solid 2px rgb(240, 244, 250);">
					<i class="lnr lnr-cross"></i>
				</div>
				<div class="stm-curriculum">
					<h3 class="stm-curriculum__title">
        Course sections            </h3>
                                        {% for lesson in lessons %}
					<div class="stm-curriculum-section opened">
						<div class="stm-curriculum-item stm-curriculum-item__section opened">
							<div class="stm-curriculum-section__info">
                                                            <span>Section {{ lesson.order }}</span>
                                                            <h5>{{ lesson.title }}</h5>
							</div>
						</div>
						<div class="stm-curriculum-section__lessons">
                                                        {% for cur_topic in lesson.topics.all %}
                                                        <a href="{% url 'course:free-trial-start' cur_topic.id %}" class="stm-curriculum-item  is- first" {% if not cur_topic.free_trial_completed and cur_topic != topic %} style="pointer-events: none;" {% endif %}>
								<div class="stm-curriculum-item__icon">
                                                                    {% if cur_topic.type == cur_topic.TEXT %}
                                                                        <i class="stmlms-text"></i>
                                                                    {% elif cur_topic.type == cur_topic.VIDEO %}
                                                                        <i class="stmlms-text"></i>
                                                                    {% elif cur_topic.type == cur_topic.QUIZ %}
                                                                        <i class="stmlms-quiz"></i>
                                                                    {% elif cur_topic.type == cur_topic.GAME %}
                                                                        <i class="stmlms-quiz"></i>
                                                                    {% endif %}
								</div>
                                                                <div class="stm-curriculum-item__num">{{ cur_topic.order }}</div>
								<div class="stm-curriculum-item__title">
									<div class="heading_font">{{ cur_topic }}</div>
								</div>
								<div class="stm-curriculum-item__meta"></div>
                                                                <div class="stm-curriculum-item__completed {% if cur_topic.free_trial_completed %} completed {% endif %}">
									<i class="fa fa-check"></i>
								</div>
							</a>
                                                        {% endfor %}
						</div>
					</div>
                                        {% endfor %}
				</div>
			</div>
			<div class="stm-lms-course__sidebar_toggle">
				<i class="fa fa-question"></i>
			</div>
			<div class="stm-lms-course__sidebar">
				<div class="stm-lesson_sidebar__close" style="background: rgb(240, 244, 250);color: black;border: solid 2px rgb(240, 244, 250);">
					<i class="lnr lnr-cross"></i>
				</div>
				<div id="stm_lms_lesson_comments" class="stm_lms_lesson_comments">
					<div class="stm_lms_lesson_comments__inner">
						<div class="stm_lms_lesson_comments__top">
							<h3>
                                Book a Help Session
            </h3>

						</div>
                                        </div>

                                          {% for help_slot_name, help_slot_times in help_slots.items %}
                                              {% if help_slot_times %}
                                                  <h3>{{ help_slot_name }}</h3>
                                                  {% for time in help_slot_times %}
                                                      {% if time.open %}
                                                          <input class="checkbox-tools" type="radio" id="{{ topic.id }}-{{ help_slot_name }}-{{ time.time }}" name="help" value="{{ topic.id }}-{{ help_slot_name }}-{{ time.time }}" >
                                                      {% else %}
                                                          <input class="checkbox-tools booked-checkbox-tools" type="radio" id="{{ topic.id }}-{{ help_slot_name }}-{{ time.time }}" name="help" value="{{ topic.id }}-{{ help_slot_name }}-{{ time.time }}" disabled>
                                                      {% endif %}
                                                      <label for="{{ topic.id }}-{{ help_slot_name }}-{{ time.time }}" class="for-checkbox-tools">
                                                          <i class='uil uil-vector-square'></i>
                                                          {{ time.time }}
                                                      </label>
                                                  {% endfor %}
                                              {% endif %}
                                          {% endfor %}
                                          <input type="text"  name="help_text" required="" style="height: 10ch;background: white;margin-top: 1em;margin-bottom: 1em;" size="40" height="20">
                                          <input value="Available for free for subscribers" class="for-checkbox-tools" type="submit" style="position: relative;display: inline-block;padding: 20px;width: 350px;font-size: 14px;line-height: 10px;letter-spacing: 1px;margin: 0 auto;margin: auto;margin-bottom: 0px;margin-left: auto;margin-left: 5px;margin-right: 5px;/*! margin-bottom: 10px; */text-align: center;border-radius: 4px;overflow: hidden;cursor: pointer;text-transform: uppercase;color: var(--white);-webkit-transition: all 300ms linear;transition: all 300ms linear;border: 1px solid;/*! text-align: ; */" disabled>
                                    </div>
				</div>
				<div id="stm-lms-lessons">
					<div class="stm-lms-course__content">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-push-2">
									<div class="stm-lms-course__lesson-content__top">
                                                                            <h3>{{ topic.lesson.title }}</h3>
                                                                            <h1>{{ topic }}</h1>
									</div>
								</div>
							</div>
						</div>
						<div class="stm-lms-course__content_wrapper">
							<div class="container">
								<div class="row">
									<div class="col-md-8 col-md-push-2">
										<div class="stm-lms-course__lesson-content" style="min-height:500px;">
                                                                                        <h4>{{ topic.video.title }}</h4>
                                                                                        <h4>{{ topic.text.title }}</h4>
                                                                                        <h4>{{ topic.game.title }}</h4>
                                                                                        {% if topic.type == topic.TEXT %}
                                                                                            <p>{{ topic.text.text }}</p>
                                                                                        {% elif topic.type == topic.GAME %}
                                                                                            <div style="min-height:500px;">{{ topic.game.iframe | safe}}</div>
                                                                                        {% elif topic.type == topic.VIDEO %}
                                                                                            <div style="min-height:500px;">{{ topic.video.video_iframe | safe}}</div>
                                                                                        {% elif topic.type == topic.QUIZ %}

                                                                                        {% if topic.mcq_quiz %}
                                                                                        <form id="quiz" method="POST" action="{% url 'course:free-trial-answer-mcq' topic.mcq_quiz.id %}" class="stm-lms-single_quiz" style="display: block;">
                                                                                        {% elif topic.tf_quiz %}
                                                                                        <form id="quiz" method="POST" action="{% url 'course:free-trial-answer-tf' topic.tf_quiz.id %}" class="stm-lms-single_quiz" style="display: block;">
                                                                                        {% endif %}
                                                                                          {% csrf_token %}
                                                                                          <div class=" stm-lms-single_question stm-lms-single_question_single_choice correct_answer_ " >
                                                                                            {% if topic.mcq_quiz %}
                                                                                            <div class="stm-lms-single_question_text">
                                                                                                <h3>{{ topic.mcq_quiz.question }}</h3>
                                                                                              <div></div>
                                                                                            </div>

                                                                                            <div class="heading_font">
                                                                                              {% for choice in topic.mcq_quiz.choices %}
                                                                                                    {% if topic.mcq_quiz.free_trial_answered %}
                                                                                                        {% if topic.mcq_quiz.free_trial_answered_correct and topic.mcq_quiz.free_trial_get_choice == choice %}
                                                                                                            <canvas id="canvas"></canvas>
                                                                                                          <div class="stm-lms-single-answer correctly_answered">
                                                                                                        {% elif not topic.mcq_quiz.free_trial_answered_correct and topic.mcq_quiz.free_trial_get_choice == choice %}
                                                                                                          <div class="stm-lms-single-answer wrongly_answered">
                                                                                                        {% else %}
                                                                                                          <div class="stm-lms-single-answer">
                                                                                                        {% endif %}
                                                                                                    {% else %}
                                                                                                          <div class="stm-lms-single-answer">
                                                                                                    {% endif %}
                                                                                                <label>
                                                                                                    {% if topic.mcq_quiz.free_trial_answered %}
                                                                                                        {% if topic.mcq_quiz.correct_choice == choice  %}
                                                                                                            <input type="radio" name="choice" value="{{ choice }}" disabled/>
                                                                                                        {% else %}
                                                                                                            <input type="radio" name="choice" value="{{ choice }}" disabled/>
                                                                                                        {% endif %}
                                                                                                    {% else %}
                                                                                                        <input type="radio" name="choice" value="{{ choice }}" />
                                                                                                    {% endif %}
                                                                                                  <i class="fa fa-check"></i>
                                                                                                    {% if topic.mcq_quiz.free_trial_answered and not topic.mcq_quiz.free_trial_answered_correct and topic.mcq_quiz.correct_choice == choice  %}
                                                                                                  {{ choice }} (Correct)
                                                                                                  {% else %}
                                                                                                  {{ choice }}
                                                                                                  {% endif %}
                                                                                                </label>
                                                                                              </div>
                                                                                              {% endfor %}
                                                                                            </div>
                                                                                            {% elif topic.tf_quiz %}
                                                                                            <div class="stm-lms-single_question_text">
                                                                                                <h3>{{ topic.tf_quiz.question }}</h3>
                                                                                              <div></div>
                                                                                            </div>

                                                                                            <div class="heading_font">
                                                                                                    {% if topic.tf_quiz.free_trial_answered %}
                                                                                                        {% if topic.tf_quiz.free_trial_answered_correct and topic.tf_quiz.free_trial_get_choice == True %}
                                                                                                          <div class="stm-lms-single-answer correctly_answered">
                                                                                                            <canvas id="canvas"></canvas>
                                                                                                        {% elif not topic.tf_quiz.free_trial_answered_correct and topic.tf_quiz.free_trial_get_choice == True %}
                                                                                                          <div class="stm-lms-single-answer wrongly_answered">
                                                                                                        {% else %}
                                                                                                          <div class="stm-lms-single-answer">
                                                                                                        {% endif %}
                                                                                                    {% else %}
                                                                                                          <div class="stm-lms-single-answer">
                                                                                                    {% endif %}
                                                                                                <label>
                                                                                                  {% if topic.tf_quiz.free_trial_answered %}
                                                                                                  <input type="radio" name="choice" value="true" disabled/>
                                                                                                  {% else %}
                                                                                                  <input type="radio" name="choice" value="true" />
                                                                                                  {% endif %}
                                                                                                  <i class="fa fa-check"></i>
                                                                                                  True
                                                                                                </label>
                                                                                              </div>
                                                                                                    {% if topic.tf_quiz.free_trial_answered %}
                                                                                                        {% if topic.tf_quiz.free_trial_answered_correct and topic.tf_quiz.free_trial_get_choice == False %}
                                                                                                          <div class="stm-lms-single-answer correctly_answered">
                                                                                                            <canvas id="canvas"></canvas>
                                                                                                        {% elif not topic.tf_quiz.free_trial_answered_correct and topic.tf_quiz.free_trial_get_choice == False %}
                                                                                                          <div class="stm-lms-single-answer wrongly_answered">
                                                                                                        {% else %}
                                                                                                          <div class="stm-lms-single-answer">
                                                                                                        {% endif %}
                                                                                                    {% else %}
                                                                                                          <div class="stm-lms-single-answer">
                                                                                                    {% endif %}
                                                                                                <label>
                                                                                                  {% if topic.tf_quiz.free_trial_answered %}
                                                                                                  <input type="radio" name="choice" value="false" disabled/>
                                                                                                  {% else %}
                                                                                                  <input type="radio" name="choice" value="false" />
                                                                                                  {% endif %}
                                                                                                  <i class="fa fa-check"></i>
                                                                                                  False
                                                                                                </label>
                                                                                              </div>
                                                                                            </div>
                                                                                            {% endif%}
                                                                                        {% if topic.mcq_quiz.free_trial_answered or topic.tf_quiz.free_trial_answered %}
                                                                                        {% else %}
                                                                                      <button for="quiz" type="submit" class="btn btn-default stm_lms_complete_lesson" onclick="document.getElementById('quiz').submit()">
                                                                                    <span>Submit Quiz</span>
                                                                                  </button>
                                                                                          {% endif %}
                                                                                </form>

                                                                                <div class="stm-lms-quiz__result">
                                                                                    <h2>Result</h2>
                                                                                    <h4 class="stm-lms-quiz__result_number">
                                                                                        <span>0%</span>
                                                                                    </h4>

                                                                                    <div class="stm-lms-quiz__result_actions">
                                                                                        <a href="#retake" class="btn btn-default btn-retake">
                                                                                            Re-take Quiz        </a>

                                                                                            </div>

                                                                                    <div class="stm-lms-quiz__result_passing_grade">
                                                                                        Passing grade - 0%    </div><div class="stm-lms-quiz__result_actions"><a class="btn btn-default btn-close-quiz-modal-results" href="http://167.179.117.201/courses/nvidia-and-ue4-technologies-practice/19">Close</a></div>
                                                                                </div>




                                                                                        {% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
                        <div class="stm-lms-lesson_navigation heading_font {% if topic.free_trial_completed %} completed {% else %} uncompleted {% endif %}">
                                <div class="stm-lms-lesson_navigation_side stm-lms-lesson_navigation_prev">
                                {% if prev_topic %}
                                    <a href="{% url 'course:free-trial-start' prev_topic.id %}">
                                        <i class="lnr lnr-chevron-left"></i>
                                            <span class="stm_lms_section_text">{{ prev_topic.lesson.title }}</span>
                                                <span>{{ prev_topic }}</span>
					</a>
                                        {% endif %}
                                        </div>
				<div class="stm-lms-lesson_navigation_complete">
                                    <form id="complete-form" method="POST" action="{% url 'course:free-trial-mark-complete' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="topic" value="{{ topic.id }}">
                                        {% if topic.type == topic.QUIZ %}
					<a href="#" class="btn btn-default stm_lms_complete_lesson {% if topic.free_trial_completed %} completed {% else %} uncompleted {% endif %}" style="pointer-events: none;">
						<span>Complete</span>
					</a>
                                        {% else %}
					<a href="#" class="btn btn-default stm_lms_complete_lesson {% if topic.free_trial_completed %} completed {% else %} uncompleted {% endif %}" onclick="document.getElementById('complete-form').submit()">
						<span>Complete</span>
					</a>
                                        {% endif %}
                                    </form>
				</div>
				<div class="stm-lms-lesson_navigation_side stm-lms-lesson_navigation_next">
                                {% if next_topic %}
                                <a href="{% url 'course:free-trial-start' next_topic.id %}" {% if not topic.free_trial_completed %} style="pointer-events: none;" {% endif %}>
                                            <span class="stm_lms_section_text">{{ next_topic.lesson.title }}</span>
                                                <span>{{ next_topic }}</span>
						<i class="lnr lnr-chevron-right"></i>
					</a>
                                {% endif %}
				</div>
			</div>
			<script type="text/javascript">
			window.RS_MODULES = window.RS_MODULES || {};
			window.RS_MODULES.modules = window.RS_MODULES.modules || {};
			window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
			window.RS_MODULES.defered = true;
			window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
			window.RS_MODULES.type = 'compiled';
		</script>
			<!-- Memberships powered by Paid Memberships Pro v2.5.10.1.
 -->
			<script type="text/javascript">
		(function () {
			var c = document.body.className;
			c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
			document.body.className = c;
		})();
	</script>
			<link rel="stylesheet" id="stm-lms-curriculum_trigger-css" href="" type="text/css" media="all">
                        <link rel="stylesheet" id="stm-curriculum_trigger-style_1-css" href="{% static 'masterstudy/style_1.css' %}" type="text/css" media="all">
                        <link rel="stylesheet" id="stm-lms-lesson-css" href="{% static 'masterstudy/lesson.css' %}" type="text/css" media="all">
                        <link rel="stylesheet" id="stm-lms-user-css" href="{% static 'masterstudy/user.css' %}" type="text/css" media="all">
                                                <link rel="stylesheet" id="stm-lms-curriculum-css" href="{% static 'masterstudy/curriculum.css' %}" type="text/css" media="all">
                                                <link rel="stylesheet" id="stm-lms-quiz-css" href="{% static 'masterstudy/quiz.css' %}" type="text/css" media="all">
                                                <link rel="stylesheet" id="stm_lms_wpb_front_css-css" href="{% static 'masterstudy/js_composer.min.css' %}" type="text/css" media="all">
                                                <link rel="stylesheet" id="rs-plugin-settings-css" href="{% static 'masterstudy/rs6.css' %}" type="text/css" media="all">
											<style id="rs-plugin-settings-inline-css" type="text/css">
#rs-demo-id {}
</style>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/regenerator-runtime.min.js' %}" id="regenerator-runtime-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/wp-polyfill.min.js' %}" id="wp-polyfill-js"></script>
											<script type="text/javascript" id="contact-form-7-js-extra">
/*
												<![CDATA[ */
var wpcf7 = {"api":{"root":"http:\/\/167.179.117.201\/wp-json\/","namespace":"contact-form-7\/v1"}};
/* ]]> */

											</script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/index.js' %}" id="contact-form-7-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/bootstrap.min.js' %}" id="bootstrap-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/countdown.js' %}" id="lms_countdown.js-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/rbtools.min.js' %}" defer="" async="" id="tp-tools-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/rs6.min.js' %}" defer="" async="" id="revmin-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/js.cookie.min.js' %}" id="js-cookie-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/woocommerce.min.js' %}" id="woocommerce-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/cart-fragments.min.js' %}" id="wc-cart-fragments-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/jquery.fancybox.min.js' %}" id="fancybox-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/select2.full.min.js' %}" id="select2-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/custom.js' %}" id="stm_theme_scripts-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/ajax.submit.js' %}" id="ajaxsubmit-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/wp-embed.min.js' %}" id="wp-embed-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/curriculum_trigger.js' %}" id="stm-lms-curriculum_trigger-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/curriculum.js' %}" id="stm-lms-curriculum-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/lesson_sidebar.js' %}" id="stm-lms-lesson_sidebar-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/video.min.js' %}" id="video.js-js"></script>
                                                                                                        <script type="text/javascript" src="{% static 'masterstudy/lessons.js' %}" id="stm-lms-lessons-js"></script>
                                                                                                        <link rel="stylesheet" id="stm-lms-lesson_comments-css" href="{% static 'masterstudy/lesson_comments.css' %}" type="text/css" media="all">
											<script type="text/javascript">
			window.RS_MODULES = window.RS_MODULES || {};
			window.RS_MODULES.modules = window.RS_MODULES.modules || {};
			window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
			window.RS_MODULES.defered = true;
			window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
			window.RS_MODULES.type = 'compiled';
		</script>
											<!-- Memberships powered by Paid Memberships Pro v2.5.10.1.
 -->
											<script type="text/javascript">
		(function () {
			var c = document.body.className;
			c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
			document.body.className = c;
		})();
	</script>
                <script>
                    const canvasEl = document.querySelector('#canvas');

                    const w = canvasEl.width = window.innerWidth;
                    const h = canvasEl.height = window.innerHeight * 2;

                    function loop() {
                                              requestAnimationFrame(loop);
                                                ctx.clearRect(0,0,w,h);

                                              confs.forEach((conf) => {
                                                                          conf.update();
                                                                          conf.draw();
                                                                        })
                                        }

                    function Confetti () {
                                              //construct confetti
                                              const colours = ['#fde132', '#009bde', '#ff6b00'];

                                              this.x = Math.round(Math.random() * w);
                                              this.y = Math.round(Math.random() * h)-(h/2);
                                              this.rotation = Math.random()*360;

                                              const size = Math.random()*(w/60);
                                              this.size = size < 15 ? 15 : size;

                                              this.color = colours[Math.floor(colours.length * Math.random())];

                                              this.speed = this.size/7;

                                              this.opacity = Math.random();

                                              this.shiftDirection = Math.random() > 0.5 ? 1 : -1;
                                        }

                    Confetti.prototype.border = function() {
                                              if (this.y >= h) {
                                                                          this.y = h;
                                                                        }
                                        }

                    Confetti.prototype.update = function() {
                                              this.y += this.speed;

                                              if (this.y <= h) {
                     this.x += this.shiftDirection/3;
                     this.rotation += this.shiftDirection*this.speed/100;
                   }

                   if (this.y > h) this.border();
                                        };

                    Confetti.prototype.draw = function() {
                                              ctx.beginPath();
                                              ctx.arc(this.x, this.y, this.size, this.rotation, this.rotation+(Math.PI/2));
                                              ctx.lineTo(this.x, this.y);
                                              ctx.closePath();
                                              ctx.globalAlpha = this.opacity;
                                              ctx.fillStyle = this.color;
                                              ctx.fill();
                                        };

                    const ctx = canvasEl.getContext('2d');
                    const confNum = Math.floor(w / 4);
                    const confs = new Array(confNum).fill().map(_ => new Confetti());

                    loop();
                </script>
</body>
{% endblock %}
