{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}ARMSTRONG{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="author" content="Muhamed Hassan">
        <meta name="description" content="ARMSTRONG Course Builder">
        <link rel="stylesheet" href="{% static 'layout.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" defer></script>
        <script src="{% static 'builder.js' %}" defer></script>
    </head>
    <body>
        <header>
        <nav class="navbar-menu is-active is-transparent mynav" role="navigation" aria-label="main navigation">
                <a class="navbar-start" href="{% url "main:home" %}">
                    <img src="{% static 'logo.svg' %}" style="width:300px">
                </a>

                    <div class="buttons navbar-end">
                        <a class="button is-transparent" href="{% url "authorization:logout" %}">Log Out</a>
                    </div>

        </nav>
        </header>

        <main>
                {% block body %} {% endblock %}
        </main>
    <footer  class="footer">
        <div class="content has-text-centered">
            <p class="has-text-dark">
            <i class="fas fa-copyright"></i> All Rights Reserved By Dedo LMS. <a href="{% url 'main:terms' %}">Terms</a>. <a href="{% url 'main:privacy' %}">Privacy</a>.
            </p>
            <p class="has-text-dark">
                Made With ❤️ By <a href="https://gaytomycode.com" target="_blank">Hassan</a> and <a href="https://hagarsaleh.com" target="_blank">Hagar</a>.
            </p>
        </div>
    </footer>
    </body>
</html>
