{% extends 'masterstudy/courses_layout.html' %}
{% load static %}

{% block main_body %}

<!-- Breads -->
<div class="stm_lms_breadcrumbs stm_lms_breadcrumbs__header_default">


			<div class="breadcrumbs_holder"></div>
	</div>

    <div class="container">

                    <div class="post_type_exist clearfix">
                                    <script>
    (function ($) {
        $(document).ready(function () {
            $('body').addClass('stm-lms-template-page');
        });
    })(jQuery);
</script>

<div class="stm-lms-wrapper stm-lms-wrapper__login">

    <div class="container">

        <div class="row">

            <div class="col-md-12">




    <div id="stm-lms-login" class="stm-lms-login active vue_is_disabled loaded is_vue_loaded"><div class="stm-lms-login__top">


            <h3>Email Confirmed</h3>
            <h2>Welcome to Armstrong</h2>

        </div>







            </div>


        </div>

    </div>
    </div>


        <div class="clearfix">
                    </div>

    </div>
    </div>
    </div>

{% endblock %}
