{% extends 'masterstudy/courses_layout.html' %}
{% block title %}Privacy - ARMSTRONG{% endblock %}
{% block main_body %}
    <div class="entry-header clearfix" style="">
        <div class="container">
            <div class="entry-title-left">
                <div class="entry-title"><h1 style="">Privacy Policy</h1></div>
            </div>
            <div class="entry-title-right"></div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="post_type_exist clearfix" style="padding-bottom: 150px;">
            <p>Thank you for joining one of the world’s largest online learning platforms. We at ARMSTRONG respect your privacy and want you to understand how we collect, use, and share data about you. This Privacy Policy covers our data collection practices and describes your rights to access, correct, or restrict our use of your personal data.</p>
            <p><strong>By using the Services, you agree to the terms of this Privacy Policy.</strong> You shouldn’t use the Services if you don’t agree with this Privacy Policy or any other agreement that governs your use of the Services.</p>
            <ol>
                <li>
                    <h3>What Data We Get</h3>
                    <p>We collect certain data from you directly, like information you enter yourself, data about your consumption of content, and data from third-party platforms you connect with ARMSTRONG. We also collect some data automatically, like information about your device and what parts of our Services you interact with or spend time using.</p>
                    <p>We use tools like cookies, web beacons, and similar tracking technologies to gather the data listed above.</p>
                </li>
                <li>
                    <h3>Why We Use Data Collection Tools</h3>
                    <ul><p>ARMSTRONG uses the following types of Data Collection Tools for the purposes described:</p>
                        <li><h4>Strictly Necessary:</h4><p>These Data Collection Tools enable you to access the site, provide basic functionality (like logging in or accessing content), secure the site, protect against fraudulent logins, and detect and prevent abuse or unauthorized use of your account. These are required for the Services to work properly, so if you disable them, parts of the site will break or be unavailable.</p></li>
                        <li><h4>Functional:</h4><p>These Data Collection Tools remember data about your browser and your preferences, provide additional site functionality, customize content to be more relevant to you, and remember settings affecting the appearance and behavior of the Services (like your preferred language or volume level for video playback).</p></li>
                        <li><h4>Performance:</h4><p>These Data Collection Tools help measure and improve the Services by providing usage and performance data, visit counts, traffic sources, or where an application was downloaded from. These tools can help us test different versions of ARMSTRONG to see which features or content users prefer and determine which email messages are opened.</p></li>
                        <li><h4>Advertising:</h4><p>These Data Collection Tools are used to deliver relevant ads (on the site and/or other sites) based on things we know about you like your Usage and System Data, and things that the ad service providers know about you based on their tracking data. The ads can be based on your recent activity or activity over time and across other sites and services. To help deliver tailored advertising, we may provide these service providers with a hashed, anonymized version of your email address (in a non-human-readable form) and content that you share publicly on the Services.</p></li>
                        <li><h4>Social Media:</h4><p>These Data Collection Tools enable social media functionality, like sharing content with friends and networks. These cookies may track a user or device across other sites and build a profile of user interests for targeted advertising purposes.</p></li>
                    </ul>
                    <p>You can set your web browser to alert you about attempts to place cookies on your computer, limit the types of cookies you allow, or refuse cookies altogether. If you do, you may not be able to use some or all features of the Services, and your experience may be different or less functional.</p>
                </li>
                <li>
                    <h3>What We Use Your Data For</h3>
                    <p>We use your data to do things like provide our Services, communicate with you, troubleshoot issues, secure against fraud and abuse, improve and update our Services, analyze how people use our Services, serve personalized advertising, and as required by law or necessary for safety and integrity.</p>
                </li>
                <li>
                    <h3>Who We Share Your Data With</h3>
                    <p>We share certain data about you with instructors, other students, companies performing services for us, ARMSTRONG affiliates, our business partners, analytics and data enrichment providers, your social media providers, companies helping us run promotions and surveys, and advertising companies who help us promote our Services. We may also share your data as needed for security, legal compliance, or as part of a corporate restructuring. Lastly, we can share data in other ways if it is aggregated or de-identified or if we get your consent.</p>
                </li>
                <li>
                    <h3>Security</h3>
                    <p>We use appropriate security based on the type and sensitivity of data being stored. As with any internet-enabled system, there is always a risk of unauthorized access, so it’s important to protect your password and to contact us if you suspect any unauthorized access to your account.</p>
                    <p>ARMSTRONG takes appropriate security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal data that we collect and store. These measures vary based on the type and sensitivity of the data. Unfortunately, however, no system can be 100% secured, so we cannot guarantee that communications between you and ARMSTRONG, the Services, or any information provided to us in connection with the data we collect through the Services will be free from unauthorized access by third parties. Your password is an important part of our security system, and it is your responsibility to protect it. You should not share your password with any third party, and if you believe your password or account has been compromised, you should change it immediately and contact our Support Team with any concerns.</p>
                </li>
                <li>
                    <h3>Updates</h3>
                    <p>From time to time, we may update this Privacy Policy. If we make any material change to it, we will notify you via email. We will also include a summary of the key changes. Unless stated otherwise, modifications will become effective on the day they are posted.</p>
                    <p>As permitted by applicable law, if you continue to use the Services after the effective date of any change, then your access and/or use will be deemed an acceptance of (and agreement to follow and be bound by) the revised Privacy Policy. The revised Privacy Policy supersedes all previous Privacy Policies.</p>
                </li>
                <li>
                    <h3>How to Contact Us</h3>
                    <p>The best way to get in touch with us is to contact our live support team or reach us through no-reply@armstrong.courses. We’d love to hear your questions, concerns, and feedback about our Services.</p>
                </li>
            </ol>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


{% endblock %}
