{% extends 'registration/layout.html' %}
{% load static %}

{% block title %}Password Changed - {{ block.super }}{% endblock %}

{% block sub-header %}New Password{% endblock %}
{% block header %}The Password Has Been Changed{% endblock %}

{% block reg-form %}{% include 'registration/reg-form.html' with social=True url='authorization:login' switch_page_text='Forgot your password Again?' switch_page_url='authorization:password_reset' switch_page_help='Click here to reset password' %}{% endblock %}
