{% extends 'registration/layout.html' %}
{% load static %}

{% block title %}New Password - {{ block.super }}{% endblock %}

{% block sub-header %}
    {% if validlink %}
        Changing Password
    {% else %}
        Password Change Failed
    {% endif %}
{% endblock %}

{% block header %}
    {% if validlink %}
        Please Enter and Confirm Your Password
    {% else %}
        The Password Reset Link Was Invalid
    {% endif %}
{% endblock %}

{% block reg-form %}{% include 'registration/reg-form.html' with switch_page_text='Remember your password?' switch_page_url='authorization:login' switch_page_help='Click here to login' %}{% endblock %}
