{% load static %}
<html><head>
    <title>DEDO LMS</title>
    <meta charset="utf-8">
    <meta name="author" content="Muhamed Hassan">
    <meta name="description" content="DEDO LMS brings interactive online education to kids.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{% static 'social.png' %}">
    <meta property="og:url" content="dedolms.com">
    <meta property="og:description" content="DEDO LMS brings interactive online education to kids.">
    <meta property="og:title" content="DEDO LMS">
    <meta name="twitter:title" content="DEDO LMS">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
    <pre >
     <center >
    </pre>
<body >
  
        <h1>Coming soon</h1>
        <div class="sub">
            <p>Education meets Entertainment.
            </p>

        {% comment %}
            <form class=bar>
              
                <input class="input" type="text" placeholder="Join our Newsletter">
             
    
                <button id="bu">
                  Notify me
                </button>
            </form>
            {% endcomment %}
        </div>
       
</body></html>
