{% extends 'layout.html' %} {% load static %} {% block body %}
<body id="homepage">
  <div class="level intro" style='height: calc(100vh - 3.25rem)'>
    <div id="mobile-hero-image">
      <img class=" intropic" src="{% static 'hero1.png' %}" alt="" />
    </div>
    <section class="section content introcontent" style="min-width: 700px !important;">
      <h1 class="title introtitle has-text-grey-dark has-text-weight-bold">
        Where Education Meets Entertainment.
      </h1>
      <p class="subtitle has-text-grey-dark has-text-weight-light">
      Armstrong delivers the most interactive way for education as never before. Unleash their creativity and let them explore the world by themselves.
      We do provide STEM programs, Science and Math Illustrations and more interactive programs that helps in developing their characters and enrich their logical and analytical skills.
      We aim to present a unique experience that will encourage self-learning and developing curiosity towards exploring science and education in an innovative yet interesting and fun way that will change students’ mindset towards the love of knowledge.
      Proudly, Armstrong is accredited from STEM.org.
      </p>
      <a href="{% url 'course:courses' %}">
          <button class="button introbtn is-primary has-text-white level-item">Explore Courses</button>
      </a>
    </section>
    <div id="web-hero-image" class="pt-2">
      <img class=" intropic pt-6" src="{% static 'hero1.png' %}" alt="" />
    </div>

  </div>
  <div class="container is-centered content pt-6">
    <h1 class="title feature pt-6 mt-6">Featured Courses</h1>
    <ul class="columns is-multiline featurecourse">
      {% for course in courses %}
      <div class="column is-one-third">
        {% if min_age and max_age %}
            {% if course.start_age <= min_age or course.start_age <= max_age and course.end_age >= max_age %}
                <div class="card">
            {% else %}
            <div style="position:relative;">
            <h1 class="locked-text" style="
            position: absolute;
            top: 17rem;
            left: 8rem;
            ">Locked</h1>
            </div>
            <div class="card locked">
            {% endif %}
        {% else %}
            <div class="card">
        {% endif %}

          <div class="card-image">
              {{ course.intro_video_iframe | safe }}
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <img
                  src="https://bulma.io/images/placeholders/96x96.png"
                  alt="Course Icon"
                />
              </div>
              <div class="media-content">
                {% if min_age and max_age %}
                    {% if course.start_age <= min_age or course.start_age <= max_age and course.end_age >= max_age %}
                      <a href="{% url 'course:course' course.id %}"><p class="title is-4">{{ course.title }}</p></a>
                    {% else %}
                      <p class="title is-4">{{ course.title }}</p>
                    {% endif %}
                {% else %}
                  <a href="{% url 'course:course' course.id %}"><p class="title is-4">{{ course.title }}</p></a>
                {% endif %}
                <p class="subtitle is-6">@slug</p>
              </div>
            </div>
            <div class="content">
              This Course is the course description.
              <a class="is-link">@slug.</a>.
              {% for category in course.category.all %}
                  <a  href="#">#{{ category }}</a>
              {% endfor %}
              <br />
              <time datetime="2016-1-1">02:17 AM - 17 Aug 2021</time>
            </div>
          </div>
          <div style="margin-left: auto; margin-right: auto;width:100%; text-align:center; padding-bottom:10px;">
          {% if course.toolbox %}
          <strong>{{ course.toolbox.name }} ToolBox</strong>
          {% endif %}
          </div>
          <div class="rightbox">
            <div class="rb-container">
              {% if course.toolbox_status == course.TB_NO or not user.is_authenticated or not user.is_member %}
              {% elif course.toolbox_status == course.TB_PLACED %}
                  <ul class="rb">
                    <li class="rb-item as-progress" >
                      <div class="item-title">Placed</div>
                    </li>
                    <li class="rb-item" >
                      <div class="item-title">Shipped</div>
                    </li>

                    <li class="rb-item" >

                      <div class="item-title">Delivered</div>
                    </li>
                    <li class="rb-item" >
                      <div class="item-title"></div>
                    </li>
                  </ul>
              {% elif course.toolbox_status == course.TB_PICKEDUP %}
                  <ul class="rb">
                    <li class="rb-item as-progress" >
                      <div class="item-title">Placed</div>
                    </li>
                    <li class="rb-item as-progress" >
                      <div class="item-title">Shipped</div>
                    </li>

                    <li class="rb-item" >

                      <div class="item-title">Delivered</div>
                    </li>
                    <li class="rb-item" >
                      <div class="item-title"></div>
                    </li>
                  </ul>
              {% elif course.toolbox_status == course.TB_DELIVERY %}
                  <ul class="rb">
                    <li class="rb-item as-progress" >
                      <div class="item-title">Placed</div>
                    </li>
                    <li class="rb-item as-progress" >
                      <div class="item-title">Shipped</div>
                    </li>

                    <li class="rb-item as-progress" >

                      <div class="item-title">Delivered</div>
                    </li>
                    <li class="rb-item" >
                      <div class="item-title"></div>
                    </li>
                  </ul>
              {% elif course.toolbox_status == course.TB_BOUGHT %}
                  <ul class="rb">
                    <li class="rb-item as-progress" >
                      <div class="item-title">Placed</div>
                    </li>
                    <li class="rb-item as-progress" >
                      <div class="item-title">Shipped</div>
                    </li>
                    <li class="rb-item as-progress" >
                      <div class="item-title">Delivered</div>
                    </li>
                    <li class="rb-item as-progress" >
                      <div class="item-title"></div>
                    </li>
                  </ul>
              {% elif course.toolbox_status == course.TB_GET %}
              <form  method="POST" action="{% url 'toolbox:place-order' %}" style="position: relative;display: inline-block;margin-bottom: 10px;margin-left: auto; margin-right: auto;text-align: center;overflow: hidden;">
                  {% csrf_token %}
                  <input type="hidden" value="{{ course.toolbox.id }}" name="tool_box_id">
                {% if min_age and max_age %}
                    {% if course.start_age <= min_age or course.start_age <= max_age and course.end_age >= max_age %}
                      <input value="Get ToolBox" class="for-checkbox-tools" type="submit" style="position: relative;display: inline-block;padding: 15px;width: 150px;font-size: 12px;line-height: 10px;letter-spacing: 1px;margin-bottom: 10px;margin-left: auto; margin-right: auto;text-align: center;border-radius: 4px;overflow: hidden;cursor: pointer;text-transform: uppercase;color: var(--white);border: 1px solid;">
                    {% else %}
                    {% endif %}
                {% else %}
                {% endif %}
              </form>
              {% endif %}
            </div>
          </div>


        </div>
      </div>
      {% endfor %}
    </ul>
    <div class="centered" style="display:flex; width:90%; text-align:center; margin:auto;">
    <a href="{% url 'course:courses' %}?min_age=4&max_age=7" style="margin:auto;">
    <button class="button is-medium is-info level-item coursesbtn" style="background-color: #e81a4b !important; margin:auto">
      4 - 7 Years
    </button>
    </a>
    <a href="{% url 'course:courses' %}?min_age=7&max_age=9" style="margin:auto;">
    <button class="button is-medium is-info level-item coursesbtn" style="background-color: #e81a4b !important; margin:auto">
      7 - 9 Years
    </button>
    </a>
    <a href="{% url 'course:courses' %}?min_age=9&max_age=12" style="margin:auto;">
    <button class="button is-medium is-info level-item coursesbtn" style="background-color: #e81a4b !important; margin:auto">
      9 - 12 Years
    </button>
    </a>
    <a href="{% url 'course:courses' %}?min_age=12&max_age=18" style="margin:auto;">
    <button class="button is-medium is-info level-item coursesbtn" style="background-color: #e81a4b !important; margin:auto">
      12 - 18 Years
    </button>
    </a>
    </div>
  </div>
  <div class="whysec">
    <img class="whyimg" src="{% static 'whysec.png' %}" alt="" style="padding-top: 12rem"/>
    <section class="whycont content is-large">
      <h1 class="title has-text-white">Why Students Learn From ArmStrong</h1>
      <p class="has-text-weight-light">
      Welcome to Arm Strong Educational Website where learning was never more fun. Our website offers variety of STEM and Educational programs for students aged between 4 -18 years old where:
      </p>
      <ul class="whyicons has-text-weight-light">
        <ul>
          <div class="icon-text" style="display:inline;">
            <span class="icon has-text-white">
              <i class="has-text-white fas fa-check-circle iconclr"></i>
            </span>
            <span> Students learn interactively and building their own practical models based on scientific concepts presented</span>
          </div>
          <br>
          <div class="icon-text" style="display:inline;">
            <span class="icon has-text-white">
              <i class="has-text-white fas fa-check-circle iconclr"></i>
            </span>
            <span>Learn more about their surroundings, and explore the cutting-edge technologies</span>
          </div>
          <br>
          <div class="icon-text" style="display:inline;">
            <span class="icon has-text-white">
              <i class="has-text-white fas fa-check-circle iconclr"></i>
            </span>
            <span>Receive a certificate of completion accredited internationally from STEM.org</span>
          </div>
        </ul>
        <hr>

      </ul>


    {% if not user.is_authenticated %}
      <a href="{% url 'authorization:signup' %}">
        <button class="button is-primary level-item">Register Now</button>
      </a>
    {% else %}

      <a href="{% url 'payment:subscribe' %}">
        <button class="button is-primary level-item">Subscribe Now</button>
      </a>
    {% endif %}


    </section>
  </div>

  <div class="memeberships container pb-6">
    <h1 class="title has-text-white membertitle">Join ArmStrong</h1>
    <p class="has-text-centered p-5">
    Enroll now for our monthly subscription for 299 EGP only and get unlimited
    access to all programs.
    </p>
    <ul class="memebercrd level columns pb-6">
      {% for membership_type in membership_types %}
      <div class="card column">
        <div class="card-header is-shadowless">
          <h1 class="title card-header-title has-text-grey-dark">{{ membership_type.name }}</h1>
          <div class="card-header-icon footericon">
              <h2 class="title as_sub_title has-text-grey-dark pr-2">{{ membership_type.display_float_price }} {{ membership_type.currency }}</h2>
            <br />
            <p class="subtitle has-text-grey-dark has-text-weight-light">monthly</p>
          </div>
        </div>
        <div class="card-content pb-6">
          <ul>
            <div class="icon-text pb-4">
              <span class="icon has-text-white">
                <i class="has-text-primary fas fa-check-circle iconclr"></i>
              </span>
              <span class="has-text-grey-dark has-text-weight-light">Unlimited Access to courses</span>
            </div>
            <div class="icon-text pb-4">
              <span class="icon has-text-white">
                <i class="has-text-primary fas fa-check-circle iconclr"></i>
              </span>
              <span class="has-text-grey-dark has-text-weight-light">Register Up to 4 Devices</span>
            </div>
            <div class="icon-text pb-4">
              <span class="icon has-text-white">
                <i class="has-text-primary fas fa-check-circle iconclr"></i>
              </span>
              <span class="has-text-grey-dark has-text-weight-light">Ask Our Trained Teachers</span>
            </div>
            <div class="icon-text pb-4">
              <span class="icon has-text-white">
                <i class="has-text-primary fas fa-check-circle iconclr"></i>
              </span>
              <span class="has-text-grey-dark has-text-weight-light">Graded Homeworks</span>
            </div>
          </ul>
        </div>
        <div class="card-footer is-centered memeberfooter">
          <p class="has-text-grey-dark pb-4">Start Your 14-Days Free Trial Now</p>
                    {% if not user.is_authenticated %}
          <a href="{% url 'authorization:signup' %}">
          <button class="button is-large ha-text-weight-bold is-primary memeberbtn">
            Register
          </button>
          </a>
          {% else %}
          <a href="{% url 'payment:subscribe' %}">
          <button class="button is-large  is-primary memeberbtn">
             Subscribe
          </button>
          </a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
</body>
{% endblock %}
