{% extends 'layout.html' %} {% load static %} {% block body %}
<body id="homepage">
  <div class="level intro" style='height: calc(100vh - 3.25rem)'>
    <div id="mobile-hero-image">
      <img class=" intropic" src="{% static 'hero1.png' %}" alt="" />
    </div>
    <section class="section content introcontent">
      <h1 class="title introtitle has-text-grey-dark has-text-weight-bold">
        Where Education Meets Entertainment.
      </h1>
      <p class="subtitle has-text-grey-dark has-text-weight-light">
        Dedo is a global course provider based across Egypt that specialises in
        accredited and bespoke stem courses. We crush the barrie for kids
        education.
      </p>
      <a href="{% url 'course:courses' %}">
          <button class="button introbtn is-primary has-text-grey-dark level-item">Explore Courses</button>
      </a>
    </section>
    <div id="web-hero-image">
      <img class=" intropic" src="{% static 'hero1.png' %}" alt="" />
    </div>

  </div>
  <div class="container is-centered content pt-6">
    <h1 class="title feature pt-6 mt-6">Featured Courses</h1>
    <ul class="columns is-multiline featurecourse">
      {% for course in courses %}
      <div class="column is-one-third">
        <h1 class="locked-text">Locked
        {# TODO(gaytomycode): when you apply the locked hna apply it brdo 3ala l get tools button #}
        </h1>
        <div class="card locked">

          <div class="card-image">
              {{ course.intro_video_iframe | safe }}
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <img
                  src="https://bulma.io/images/placeholders/96x96.png"
                  alt="Course Icon"
                />
              </div>
              <div class="media-content">
                  <p class="title is-4">{{ course.title }}</p>
                <p class="subtitle is-6">@slug</p>
              </div>
            </div>
            <div class="content">
              This Course is the course description.
              <a class="is-link">@slug.</a>.
              {% for category in course.category.all %}
                  <a  href="#">#{{ category }}</a>
              {% endfor %}
              <br />
              <time datetime="2016-1-1">02:17 AM - 17 Aug 2021</time>
            </div>
          </div>
          <div style="margin-left: auto; margin-right: auto;width:100%; text-align:center; padding-bottom:10px;">
          <strong>{{ course.toolbox.name }} ToolBox</strong>
          </div>
          <div class="rightbox">
            <div class="rb-container">
              {% if course.toolbox_status == course.TB_NO or not user.is_authenticated %}
              {% elif course.toolbox_status == course.TB_DELIVERY %}
                  <ul class="rb">
                    <li class="rb-item" >
                      <div class="item-title">Placed</div>
                    </li>
                    <li class="rb-item" >
                      <div class="item-title">Shipped</div>
                    </li>

                    <li class="rb-item" >

                      <div class="item-title">Delivered</div>
                    </li>
                    <li class="rb-item" >
                      <div class="item-title"></div>
                    </li>
                  </ul>
              {% elif course.toolbox_status == course.TB_BOUGHT %}
                  <ul class="rb">
                    <li class="rb-item as-progress" >
                      <div class="item-title">Placed</div>
                    </li>
                    <li class="rb-item as-progress" >
                      <div class="item-title">Shipped</div>
                    </li>
                    <li class="rb-item as-progress" >
                      <div class="item-title">Delivered</div>
                    </li>
                    <li class="rb-item as-progress" >
                      <div class="item-title"></div>
                    </li>
                  </ul>
              {% elif course.toolbox_status == course.TB_GET %}
              <form  method="POST" action="{% url 'toolbox:place-order' %}" style="position: relative;display: inline-block;margin-bottom: 10px;margin-left: auto; margin-right: auto;text-align: center;overflow: hidden;">
                  {% csrf_token %}
                  <input type="hidden" value="{{ course.toolbox.id }}" name="tool_box_id">
                  <input value="Get ToolBox" class="for-checkbox-tools" type="submit" style="position: relative;display: inline-block;padding: 15px;width: 150px;font-size: 12px;line-height: 10px;letter-spacing: 1px;margin-bottom: 10px;margin-left: auto; margin-right: auto;text-align: center;border-radius: 4px;overflow: hidden;cursor: pointer;text-transform: uppercase;color: var(--white);border: 1px solid;">
              </form>
              {% endif %}
            </div>
          </div>


        </div>
      </div>
      {% endfor %}
    </ul>
    <a href="{% url 'course:courses' %}">
    <button class="button is-medium is-info level-item coursesbtn">
      More Courses
    </button>
    </a>
  </div>
  <div class="whysec">
    <img class="whyimg" src="{% static 'whysec.png' %}" alt="" style="padding-top: 100px"/>
    <section class="whycont content is-large">
      <h1 class="title has-text-white">Why Students Learn From Dedo</h1>
      <p class="has-text-weight-light">
        Dedo Cares about it’s students. We are not just another online courses
        platform; We add fun to the education process by adding gamification to
        the education journey, building intrest and passion for learning in our
        students.
      </p>
      <ul class="whyicons has-text-weight-light">
        <ul>
          <div class="icon-text">
            <span class="icon has-text-success">
              <i class="fas fa-check-circle iconclr"></i>
            </span>
            <span> World Class</span>
          </div>
          <div class="icon-text">
            <span class="icon has-text-success">
              <i class="fas fa-check-circle iconclr"></i>
            </span>
            <span>Flexible</span>
          </div>
        </ul>
        <ul class="pl-3">
          <div class="icon-text">
            <span class="icon has-text-success">
              <i class="fas fa-check-circle iconclr"></i>
            </span>
            <span>Affordable</span>
          </div>
          <div class="icon-text">
            <span class="icon has-text-success">
              <i class="fas fa-check-circle iconclr"></i>
            </span>
            <span>Fun</span>
          </div>
        </ul>
        <hr>

      </ul>


    {% if not user.is_authenticated %}
      <a href="{% url 'authorization:signup' %}">
        <button class="button is-primary level-item">Register Now</button>
      </a>
    {% else %}

      <a href="{% url 'payment:subscribe' %}">
        <button class="button is-primary level-item">Subscribe Now</button>
      </a>
    {% endif %}


    </section>
  </div>

  <div class="memeberships container pb-6">
    <h1 class="title has-text-white membertitle">Join Dedo</h1>
    <ul class="memebercrd level columns pb-6">
      {% for membership_type in membership_types %}
      <div class="card column">
        <div class="card-header is-shadowless">
          <h1 class="title card-header-title has-text-grey-dark">{{ membership_type.name }}</h1>
          <div class="card-header-icon footericon">
              <h2 class="title as_sub_title has-text-grey-dark pr-2">{{ membership_type.price_pounds }}£</h2>
            <br />
            <p class="subtitle has-text-grey-dark has-text-weight-light">monthly</p>
          </div>
        </div>
        <div class="card-content pb-6">
          <ul>
            <div class="icon-text pb-4">
              <span class="icon has-text-success">
                <i class="fas fa-check-circle iconclr"></i>
              </span>
              <span class="has-text-grey-dark has-text-weight-light">Unlimited Access to courses</span>
            </div>
            <div class="icon-text pb-4">
              <span class="icon has-text-success">
                <i class="fas fa-check-circle iconclr"></i>
              </span>
              <span class="has-text-grey-dark has-text-weight-light">Register Up to 4 Devices</span>
            </div>
            <div class="icon-text pb-4">
              <span class="icon has-text-success">
                <i class="fas fa-check-circle iconclr"></i>
              </span>
              <span class="has-text-grey-dark has-text-weight-light">Ask Our Trained Teachers</span>
            </div>
            <div class="icon-text pb-4">
              <span class="icon has-text-success">
                <i class="fas fa-check-circle iconclr"></i>
              </span>
              <span class="has-text-grey-dark has-text-weight-light">Graded Homeworks</span>
            </div>
          </ul>
        </div>
        <div class="card-footer is-centered memeberfooter">
          <p class="has-text-grey-dark pb-4">Start Your 14-Days Free Trial Now</p>
                    {% if not user.is_authenticated %}
          <a href="{% url 'authorization:signup' %}">
          <button class="button is-large ha-text-weight-bold is-primary memeberbtn">
            Register
          </button>
          </a>
          {% else %}
          <a href="{% url 'payment:subscribe' %}">
          <button class="button is-large  is-primary memeberbtn">
             Subscribe
          </button>
          </a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
</body>
{% endblock %}
